body {
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  height: 100vh;
  margin: 0%;
}

footer {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin: 0%;
}

.footer-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ccc;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}


header h1{
  margin: 5px;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

.socials{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.welcome {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 200px

}

.welcome h1 {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 4em;
}
.welcome p {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  
}

.welcome .input {
  border-radius: 18px;
  background: rgb(150, 147, 147);
  padding: 20px;
  width: 140px;
  height: 5px;
}

.inputsubmit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputsubmit button{
  margin-top: 20px;
  color: black;
  font-size: larger;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.logo {
  margin-left: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 5px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #525353aa);
}


