body {
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  height: 100vh;
  
}

footer {
  color: #ccc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.footer-center {
  display: flex;
  justify-content: center;
  text-align: center;
  
}

header {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ccc;
}
